
<button class="btn"> <%= link_to 'new project', new_project_path %> </button>

<div class = 'container-fluid'>
	<div class = 'row'>
			<% @projects.each do |x| %>
				<div class = 'col-lg-3'>
					<h3><%= x.name %></h3>
					<p>Id: <%= x.id %> </p>
					<p>Planning Start Date: <%= x.planning_start_date %> </p>
					<p>Planning End Date: <%= x.planning_end_date %> </p>
					<p>Implementation Start Date: <%= x.implementation_start_date %> </p>
					<p>Implementation End Date: <%= x.implementation_end_date %> </p>
					<button type='button' class='btn btn-danger'><%= link_to 'show', project_path(x) %></button>	
				</div>	
			<% end %>
	</div>
</div>