

<button class="btn"> <%= link_to 'new project', new_project_path %> </button>

<div class = 'container-fluid'>
	<div class = 'row'>
			<% @projects.each do |x| %>
				<div class = 'col-lg-3 project'>
					<h3><%= x.name %></h3>
					<ul>
						<li>Id: <%= x.id %></li>
						<li>Planning Start Date: <%= x.planning_start_date %></li>
						<li>Planning End Date: <%= x.planning_end_date %></li>
						<li>Implementation Start Date: <%= x.implementation_start_date %></li>
						<li>Implementation End Date: <%= x.implementation_end_date %> </li>
					</ul>
					<%= button_to 'Details', project_path(x), method: :get, class: 'btn btn-danger'%>
				</div>	
			<% end %>
	</div>
</div>

